body {
    display: flex;
	min-height: 100vh;
	font-family: sans-serif;
}

._container {
	text-align: center;
	align-self: center;
	position: relative;
	left: 50%;
    transform: translateX(-50%);
}

.labels {
	text-align: left;
	float: left;
	margin-bottom: 5px;
	font-size: 20px
}

input[type="text"], input[type="url"] {
	width: 500px;
	height: 60px;
	border-radius: 5px;
	border-width: 0.5px;
	margin-bottom: 5%;
}

input[type="submit"] {
	width: 200px;
	height: 50px;
}

._form-inline {
	justify-content: center;
}
